<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reconnaissance de Chiffres{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history_styles.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1>Reconnaissance de Chiffres Manuscrits</h1>
        </div>
    </header>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="container">
        <p>&copy; {{ now.year }} - Application de reconnaissance de chiffres manuscrits</p>
    </footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>
